.Footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 68px;
  background: #F0F2F3;
  color: #7F8285;
  padding: var(--space-2xs) var(--space-s);

  font-family: var(--font-base);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.06px;

  @media (min-width: $screen-m) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 0 100px;
  }
}