<h3>FormGroup</h3>
<div>
  <div class="FormGroup">
    <label class="FormGroup-Label" for="">Label</label>
    <div class="Input Input_size_m">
      <input class="Input-Control" placeholder="Placeholder" />
    </div>
    <div class="FormGroup-Hint">form text</div>
  </div>
</div>

<h3>Row: true</h3>
<div>
  <div class="FormGroup FormGroup_row">
    <label class="FormGroup-Label" for="">Label</label>
    <div class="Input Input_size_m">
      <input class="Input-Control" placeholder="Placeholder" />
    </div>
    <div class="FormGroup-Hint">form text</div>
  </div>
</div>