.Header_multiline {
  padding: var(--space-2xs) var(--space-s);
  height: initial;
  
  .Header-Title {
    margin: 0;
  }

  .Header-Container {
    align-items: flex-start;
  }

  @media (min-width: $screen-m) {
    align-items: center;

    .Header-Title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}