<h3>Variant: (h1 | h2 | h3 | h4 | body )</h3>
<div>
  <h1 class="Typography Typography_variant_h1">I love BEM!</h1>
  <h2 class="Typography Typography_variant_h2">I love BEM!</h2>
  <h2 class="Typography Typography_variant_h3">I love BEM!</h2>
  <h4 class="Typography Typography_variant_h4">I love BEM!</h4>
  <span class="Typography Typography_variant_body">I love BEM!</span>
</div>

<h3>Color: (success | error | warning | neutral) / Variant: h1</h3>
<div>
  <h1 class="Typography Typography_variant_h1 Typography_color_success">I love BEM!</h1>
  <h1 class="Typography Typography_variant_h1 Typography_color_error">I love BEM!</h1>
  <h1 class="Typography Typography_variant_h1 Typography_color_warning">I love BEM!</h1>
  <h1 class="Typography Typography_variant_h1 Typography_color_neutral">I love BEM!</h1>
</div>

<h3>Nowrap: true / Variant: h1</h3>
<div>
  <h1 class="Typography Typography_variant_h1 Typography_nowrap">
    I love BEM! I love BEM! I love BEM! I love BEM! I love BEM! I love BEM! I love BEM!
    I love BEM! I love BEM! I love BEM! I love BEM! I love BEM! I love BEM! I love BEM!
    I love BEM! I love BEM! I love BEM! I love BEM! I love BEM! I love BEM! I love BEM!
  </h1>
</div>